
/*
====================================================================================
                               CONTENIDO PRINCIPAL                                 
====================================================================================
*/

/* BODY */
body{
  padding: 0;
  margin:0;
}

/* APLICACION A TODO EL CONTENIDO DEL MAIN */
main{
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.8s;
}

/*CONTAINER MAIN*/
.grid-container-main{
  display: grid;
  height: 100vh;
  grid-gap: 4px;
  grid-template: repeat(40,1fr)/repeat(40,1fr);
}


/*APLIACACION A TODOS LOS DIV DENTRO DE .grid-container-main*/
.grid-container-main div{
  border: 1px solid green;
  border-radius: 3px;
  background-color: blue;
}

/*
====================================================================================
                                  BOX AVATAR                   
====================================================================================
*/



.container-box-avatar{
  grid-column: 10/30;
  grid-row: 2/15;
}

/*
====================================================================================
                                  GRID LOGIN                  
====================================================================================
*/
.grid-container-main-login{
  /*Posicion sobre GRID MAIN*/
  grid-column: 8/32;
  grid-row: 17/37;
  /*Template GRID*/
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
  grid-gap: 2px;
  align-content: center;
  align-items: center;
}


.lbl-user{
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 2.5vw;
  margin: 0;
  padding: 0;
}

.txb-user{
  grid-column: 3/5;
  grid-row: 2/3;
  font-size: 3vw;
  margin: 0;
  padding: 0;
}

.lbl-password{
  grid-column: 2/3;
  grid-row: 4/5;
  font-size: 2.5vw;
  margin: 0;
  padding: 0;
}

.txb-password{
  grid-column: 3/5;
  grid-row: 4/5;
  font-size: 3vw;
  margin: 0;
  padding: 0;
}

.btn-login{
  grid-column: 2/3;
  grid-row: 6/7;
  font-size: 3vw;
  margin: 0;
  padding: 0;
}

.btn-registrate{
  grid-column: 4/5;
  grid-row: 6/7;
  font-size: 3vw;
  margin: 0;
  padding: 0;
}

.lbl-remeber-me{
  grid-column: 1/6;
  grid-row: 9/10;
  font-size: 1.5vw;
  margin: 0;
  padding: 0;
} 

/* input[type=text]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
  left: 100px;
  } */


/* input[type=password]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
  position: relative;
  left: 75px;
} */


/* button{
  background-color: #4da6ff;
  color: white;    
  font-family: Arial;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 200px;
  position:relative;
  left: 300px;
} */

button:hover{
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.8s;
  opacity: 0.9;
}


@media screen and (max-width: 768px){

  .container-box-avatar{
    grid-column: 30/50; 
    grid-row: 2/6;
  }

  .grid-container-main-login{
    grid-column: 20/60;
    grid-row: 6/20;
}
    button{
      position:relative;
      left: 100px;
    }
}

@media screen and (max-width: 450px){
  .grid-container{
    height: 100vh;
  }
  .container-box-avatar { 
    grid-column: 11/28; 
    grid-row: 2/4;
  }
  .grid-container-main-login { 
    grid-column: 5/35; 
    grid-row: 4/10;
  }
  button{
    position:relative;
    left: 50px;
  }

  input[type=text]{
    width: 150px;
    padding: 8px 2px;
    margin: 8px 0;
    display: inline-block;
    border: 1px soliSd #ccc;
    box-sizing: border-box;
    left:50px;
  }

  input[type=password] {
    width: 150px;
    padding: 8px 2px;
    margin: 8px 0;
    display: inline-block;
    border: 1px soliSd #ccc;
    box-sizing: border-box;
    left: 25px;
  }
}

