.grid-total {
    height: 120vh;
    background-image: url("../../../APLICACION_GENERAL/images/wallpaper.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-total-header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

.grid-total-footer {
    grid-row: 40/ -1;
    grid-column: 1 / -1;
}

.contenedor-formulario {
    grid-row: 5/38;
    grid-column: 9/32;
    display: grid;
    grid-template: repeat(40, 1fr)/repeat(60, 1fr);
    /* background-color: rgba(95, 95, 95, 0.603);
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.75); */
    z-index: 1;
}

.contenedor-conductor {
    display: grid;
    grid-template: repeat(20, 1fr)/repeat(40, 1fr);
    grid-row: 1/22;
    grid-column: 1/61;
    background-color: rgba(95, 95, 95, 0.603);
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.75);
}

.contenedor-identificacion {
    display: grid;
    grid-template: repeat(20, 1fr)/repeat(39, 1fr);
    grid-row: 22/61;
    grid-column: 1/61;
    background-color: rgba(95, 95, 95, 0.603);
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.75);
}

label {
    color: white;
    font-size: .8vw;
}

.form-control {
    height: 40%;
    font-size: .8vw;
}

.ide-box {
    grid-row: 3/4;
    grid-column: 8/16;
}

.ida-box {
    grid-row: 3/4;
    grid-column: 18/21;
}

.nombres-box {
    grid-row: 6/7;
    grid-column: 8/21;
}

.ap-pat-box {
    grid-row: 9/10;
    grid-column: 8/21;
}

.ap-mat-box {
    grid-row: 10/11;
    grid-column: 8/21;
}

.photo {
    position: relative;
    top: 30px;
    grid-row: 1/8;
    grid-column: 26/33;
    background-color: black;
    background-image: url("/external/clientes/Catalogo/conductores/images/coductor-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 100%;
    height: 100%; */
}

.subir-archivo .btn-primary {
    height: 70%;
    width: 100%;
    font-size: 1vw;
}

.subir-archivo {
    grid-row: 10/11;
    grid-column: 26/33;
}

.contenedor-id {
    display: grid;
    grid-template: repeat(20, 1fr)/repeat(20, 1fr);
    grid-row: 1/21;
    grid-column: 1/10;
    background-color: transparent;
}

.f-expedicion {
    grid-row: 5/9;
    grid-column: 2/20;
}

.f-vencimiento {
    grid-row: 10/14;
    grid-column: 2/20;
}

.adjuntar-archivo .btn-primary {
    height: 70%;
    width: 100%;
    font-size: .8vw;
}

.adjuntar-archivo {
    grid-row: 16/19;
    grid-column: 5/18;
}

.form-control-lg {
    grid-column: 2/20;
    grid-row: 2/5;
    height: 100%;
    font-size: .7vw;
}

.contenedor-lic {
    display: grid;
    grid-template: repeat(20, 1fr)/repeat(20, 1fr);
    grid-row: 1/21;
    grid-column: 10/20;
    background-color: transparent;
}

.contenedor-pas {
    display: grid;
    grid-template: repeat(20, 1fr)/repeat(20, 1fr);
    grid-row: 1/21;
    grid-column: 20/30;
    background-color: transparent;
}

.contenedor-visa {
    display: grid;
    grid-template: repeat(20, 1fr)/repeat(20, 1fr);
    grid-row: 1/21;
    grid-column: 30/40;
    background-color: transparent;
}

.separador-principal {
    background-color: rgb(131, 131, 131);
    grid-row: 22/22;
    grid-column: 9/32;
    height: 50%;
    z-index: 10000000;
}

.separador-uno {
    background-color: rgb(131, 131, 131);
    grid-row: 1/21;
    grid-column: 10/11;
    width: 15%;
}

.separador-dos {
    background-color: rgb(131, 131, 131);
    grid-row: 1/21;
    grid-column: 20/21;
    width: 15%;
}

.separador-tres {
    background-color: rgb(131, 131, 131);
    grid-row: 1/21;
    grid-column: 30/31;
    width: 15%;
}