body{ 
  padding: 0;
    margin:0;
    
}


.grid-container{    
  display: grid;
  grid-gap: 10px;
  grid-template: repeat(100,1fr)/repeat(100,1fr);   
}

.grid-container div{
    border: 1px solid green;
    border-radius: 3px;
    background-color: blue;    
}

.box1 { 
  grid-column: 40/60; 
  grid-row: 3/20;
}

.box2 { 
  grid-column: 80/20; 
  grid-row: 25/60;    
}

input[type=text]{
      width: 50%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      position: relative;
      left: 100px;
        
    }
input[type=password] {
    
    width: 50%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      position: relative;
      position: relative;
      left: 75px;
}


button {
  background-color: #4da6ff;
  color: white;    
  font-family: Arial;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
   width: 200px;
    position:relative;
    left: 300px;
}

button:hover {
    -webkit-transition-duration: 0.4s;
  transition-duration: 0.8s;
  opacity: 0.9;
}


@media screen and (max-width: 768px) {
    .box1 { 
  grid-column: 30/50; 
  grid-row: 2/6;
}
       .box2 { 
  grid-column: 20/60; 
  grid-row: 6/20;
}
    button{
      position:relative;
    left: 100px;
    }
}

@media screen and (max-width: 450px) {
    .box1 { 
  grid-column: 11/28; 
  grid-row: 2/4;
}
       .box2 { 
  grid-column: 5/35; 
  grid-row: 4/10;
}
    button{
      position:relative;
    left: 50px;
    }
    
    input[type=text]{
  width: 150px;
  padding: 8px 2px;
  margin: 8px 0;
  display: inline-block;
  border: 1px soliSd #ccc;
  box-sizing: border-box;
       left:50px;
}
    
    input[type=password] {
         width: 150px;
  padding: 8px 2px;
  margin: 8px 0;
  display: inline-block;
  border: 1px soliSd #ccc;
  box-sizing: border-box;
       left: 25px;
        
    }
}

