<link rel="stylesheet" href="/internal/Inicio/index.css">

{{!-- <form action="/users/master" method="POST">
    <input type="text" placeholder="nombre" name="nombre">
    <input type="text" placeholder="apPaterno" name="apPaterno">
    <input type="text" placeholder="apMaterno" name="apMaterno">
    <input type="text" placeholder="typeUser" name="typeUser">
    <input type="email" placeholder="correo" name="correo">
    <input type="text" placeholder="user" name="user">
    <input type="text" placeholder="password" name="password">
    <button type="submit">ENVIAR</button>
</form> --}}

<label class="title-welcome">Bienvenido</label>