<link rel="stylesheet" href="/internal/Clientes/Alta_clientes/css/altaClientes.css">

<h2 class="title-empresa">Empresa</h2>
            <div class="nom-empresa"><label>Nombre de la empresa:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="rs"><label>Razó Social:</label><input type="text" class="form-control" placeholder=""></div>
            <h2 class="title-representante">Representante</h2>
            <div class="nom-representante"><label>Nombre(s):</label><input type="text" class="form-control" placeholder=""></div>
            <div class="ap-pat"><label>Apellido Paterno:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="ap-mat"><label>Apellido Materno:</label><input type="text" class="form-control" placeholder=""></div>
            <h2 class="title-contacto">Contacto</h2>
            <div class="num-tel"><label>Teléfono:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="celular"><label>Celular:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="correo"><label>Correo:</label><input type="text" class="form-control" placeholder=""></div>
            <h2 class="title-cuenta">Cuenta</h2>
            <div class="user"><label>Usuario:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="password"><label>Contraseña:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="confirm-pass"><label>Confirmar Contraseña:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="form-group">
                <label>Seleccione su pregunta de seguridad:</label>
                <select class="form-control" id="sel1">
                  <option>De que color fue su último vehículo.</option>
                  <option>La ciudad que te gustaría jubilarte.</option>
                  <option>El nombre de la primera ciudad que visitó.</option>
                  <option>Cuál fue el nombre de tu primer mascota.</option>
                  <option>Cuál es tu comida favorita.</option>
                  <option>Marca de la primer laptop que compré.</option>
                </select>
            </div>
            <div class="answer"><label>Respuesta:</label><input type="text" class="form-control" placeholder=""></div>
            <h2 class="title-fiscales">Datos fiscales</h2>
            <img src="../Branch master-altaclientes/images/mexflag.png" class="mex-flag">
            <img src="../Branch master-altaclientes/images/usaflag.png" class="us-flag">
            <div class="nom-empresafis"><label>Empresa:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="rs-fis"><label>Razón Social:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="estado"><label>Estado Mexicano:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="ciudad"><label>Ciudad Mexicana:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="cp"><label>Código Postal:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="folio-fac"><label>Folio(F):</label><input type="text" class="form-control" placeholder=""></div>
            <div class="folio-cp"><label>Folio(CP):</label><input type="text" class="form-control" placeholder=""></div>
            <div class="colonia"><label>Colonia:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="calle"><label>Calle:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="no-exterior"><label>No. Exterior:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="no-interior"><label>No. Interior:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="entre-calles"><label>Entre Calles:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="dir-fiscal"><label>Dirección Fiscal:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="rfc-fis"><label>RFC:</label><input type="text" class="form-control" placeholder=""></div>
            <div class="tel-fis"><label>Teléfono:</label><input type="text" class="form-control" placeholder=""></div>

            <h2 class="title-modulos">Módulos</h2>
            <div class="modulos">
                <div class="form-check">
                    <h6 class="form-check-label"><input type="checkbox" class="form-check-input" value="">Option 1</h6>
                    <h6 class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 2</h6>
                    <h6 class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 3</h6>
                    <h6 class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 4</h6>
                    <h6 class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 5</h6>

                </div>
            </div>

            <div class="modulos2">
                <div class="form-check">
                    <h6 class="form-check-label"><input type="checkbox" class="form-check-input" value="">Option 1</h6>
                    <h6 class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 2</h6>
                    <h6 class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 3</h6>
                    <h6 class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 4</h6>
                    <h6 class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 5</h6>

                </div>
            </div>


            <div class="modulos3">
                <div class="form-check">
                    <h6 class="form-check-label"><input type="checkbox" class="form-check-input" value="">Option 1</h6>
                    <h6 class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 2</h6>
                    <h6 class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 3</h6>
                    <h6 class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 4</h6>
                    <h6 class="form-check-label"><br><input type="checkbox" class="form-check-input" value="">Option 5</h6>

                </div>
            </div>