<link rel="stylesheet" href="/external/clientes/Catalogo/conductores/conductores.css">

{{!-- contenedor-formulario --}}
<div class="contenedor-formulario">
    {{!-- contenedor-conductor --}}
    <div class="contenedor-conductor">
    <div class="ide-box"><label>IDe</label><input type="text" class="form-control" placeholder=""></div>
    </div>
     {{!-- contenedor-identificacion --}}
    <div class="contenedor-identificacion">

    </div>
</div>



