<link rel="stylesheet" href="/external/clientes/Catalogo/conductores/conductores.css">
<div class="separador-principal"></div>
{{!-- contenedor-formulario --}}
<div class="contenedor-formulario">
    {{!-- Separador principal --}}

    {{!-- contenedor-conductor --}}
    <div class="contenedor-conductor">
    <div class="ide-box"><label>IDe: </label><input type="text" class="form-control" placeholder="" readonly></div>
    <div class="ida-box"><label>IDa: </label><input type="text" class="form-control" placeholder="" readonly></div>
    <div class="nombres-box"><label>Nombre(s): * </label><input type="text" class="form-control" placeholder=""></div>
    <div class="ap-pat-box"><label>Apellido Paterno: * </label><input type="text" class="form-control" placeholder=""></div>
    <div class="ap-mat-box"><label>Apellido Materno: * </label><input type="text" class="form-control" placeholder=""></div>
    <div class="photo"></div>
    <div class="subir-archivo"><button type="button" class="btn btn-primary"><i class="fas fa-cloud-upload-alt"></i>Subir Archivo</button></div>
    </div>

     {{!-- contenedor-identificacion --}}
    <div class="contenedor-identificacion">
                {{!-- Separador uno --}}
<div class="separador-uno"></div>
  {{!-- Separador dos --}}
<div class="separador-dos"></div>
  {{!-- Separador tres --}}
<div class="separador-tres"></div>
        <div class="contenedor-id">
            <select class="form-control form-control-lg">
            <option>Tipo de id</option>
            <option>Ine</option>
            <option>No se</option>
            <option>No se</option>
            
            </select>
            <div class="f-expedicion"><label>Fecha de expedici贸n: </label><input type="text" class="form-control" placeholder=""></div>
            <div class="f-vencimiento"><label>Fecha de vencimiento: </label><input type="text" class="form-control" placeholder=""></div>
            <div class="adjuntar-archivo"><button type="button" class="btn btn-primary"><i class="fas fa-cloud-upload-alt"></i>Subir Archivo</button></div>
        </div>
        <div class="contenedor-lic">
            <select class="form-control form-control-lg">
            <option>Tipo de licencia</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            </select>
            <div class="f-expedicion"><label>Fecha de expedici贸n: </label><input type="text" class="form-control" placeholder=""></div>
            <div class="f-vencimiento"><label>Fecha de vencimiento: </label><input type="text" class="form-control" placeholder=""></div>
            <div class="adjuntar-archivo"><button type="button" class="btn btn-primary"><i class="fas fa-cloud-upload-alt"></i>Subir Archivo</button></div>
        </div>
        <div class="contenedor-pas">
              <select class="form-control form-control-lg">
            <option>Tipo de pasaporte</option>
            <option>Americano</option>
            <option>Mexicano</option>
            <option>No se</option>
            </select>
            <div class="f-expedicion"><label>Fecha de expedici贸n: </label><input type="text" class="form-control" placeholder=""></div>
            <div class="f-vencimiento"><label>Fecha de vencimiento: </label><input type="text" class="form-control" placeholder=""></div>
            <div class="adjuntar-archivo"><button type="button" class="btn btn-primary"><i class="fas fa-cloud-upload-alt"></i>Subir Archivo</button></div>
        </div>
        <div class="contenedor-visa">
              <select class="form-control form-control-lg">
            <option>Tipo de visa</option>
            <option>Americana</option>
            <option>Mexicana</option>
            <option>Otro</option>
            </select>
            <div class="f-expedicion"><label>Fecha de expedici贸n: </label><input type="text" class="form-control" placeholder=""></div>
            <div class="f-vencimiento"><label>Fecha de vencimiento: </label><input type="text" class="form-control" placeholder=""></div>
            <div class="adjuntar-archivo"><button type="button" class="btn btn-primary"><i class="fas fa-cloud-upload-alt"></i>Subir Archivo</button></div>
        </div>
    </div>
</div>
<div class="list"><button type="button" class="btn btn-warning"><i class="fas fa-table"></i>Lista de conductores</button></div>
<div class="save"><button type="button" class="btn btn-primary"><i class="far fa-save"></i>Guardar</button></div>



