<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, soluta velit sequi nobis sunt deleniti! Optio quam similique consectetur repellat expedita dolores vitae illo sed temporibus itaque! Est, labore hic?</p>
    </div>
</div>