<div class="jumbotron mt-4">
    <h1 class="displa-4">Notes App nodeJS and mongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla impedit ducimus ea qui autem quidem numquam voluptatum, nam dignissimos laudantium ratione magnam obcaecati tempore eaque officia error. Error, cumque pariatur?</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>