.grid-total {
    height: 110vh;
    background-image: url("../../../external/APLICACION_GENERAL/images/wallpaper.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-total-header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

.grid-total-footer {
    grid-row: 40/ -1;
    grid-column: 1 / -1;
}