<div class="footer-fb">
    <i class="fab fa-facebook-square fa-3x"></i>
</div>

<div class="footer-gplus">
    <i class="fab fa-google-plus-g fa-3x"></i>
</div>

<div class="footer-twitter">
    <i class="fab fa-twitter-square fa-3x"></i>
</div>

<div class="sitio">Baja California , México</div>

<div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href=""> Microsoft.com</a>
</div>

<div class="correo-contact">Contáctanos: Microsoft@hotmail.com</div>