<img class="footer-icons icon-whoAreWe" src="/logIn/footer/icons/titles/about-us-white.png">
<img class="footer-icons icon-product" src="/logIn/footer/icons/titles/product-white.png">
<img class="footer-icons icon-social" src="/logIn/footer/icons/titles/redes-white.png">
<img class="footer-icons icon-contact" src="/logIn/footer/icons/titles/contact-white.png">
<img class="footer-icons icon-copyRight" src="/logIn/footer/icons/titles/copyRight-white.png">

<h2 class="footer-title title-whoAreWe">¿Quienes somos?</h2>
<h2 class="footer-title title-product">Nuestros productos</h2>
<h2 class="footer-title title-social">Redes sociales</h2>
<h2 class="footer-title title-copyRight">Contactanos</h2>

<p class="parrafo-whoAreWe">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi debitis sapiente, optio pariatur nihil, atque ipsam voluptatum incidunt sint perspiciatis fugiat omnis culpa quod a beatae?</p>

<div class="footer-productos">
    <a href="#">Producto 1</a>
    <br>
    <a href="#">Producto 2</a>
    <br>
    <a href="#">Producto 3</a>
    <br>
    <a href="#">Producto 4</a>
    <br>
    <a href="#">Producto 5</a>
</div>

<div class="footer-redes">
    <img src="/logIn/footer/icons/redes/facebook-white.png" alt="">
    <a href="#">Facebook</a>
    <br>
    <img src="/logIn/footer/icons/redes/instagram-white.png" alt="">
    <a href="#">Instagram</a>
    <br>
    <img src="/logIn/footer/icons/redes/whatsapp-white.png" alt="">
    <a href="#">Whatsapp</a>
    <br>
    <img src="/logIn/footer/icons/redes/twitter-white.png" alt="">
    <a href="#">Twitter</a>
    <br>
    <img src="/logIn/footer/icons/redes/pinterest-white.png" alt="">
    <a href="#">Pinterist</a>
</div>

<div class="footer-copyRight">
    <p>COPYRIGHT® 2019 LFP HYDRAULIC SYSTEMS, EL REGISTRA EN ESTA WEB IMPLICA LA ACEPTACION DE SU POLITICA DE PRIVACIDAD PARA CONSULTAR, MODIFICAR, O DAR DE BAJA SUS DATOS ESCRIBE A CONTACTANOS@LUPSEMASD.COM</p>
</div>

<div class="footer-contactanos">
    <img src="/logIn/footer/icons/contact/gps-white.png" alt="">
    <p>Col. Los Santos, numero 14409, calle Lagina salada</p>
    <img src="/logIn/footer/icons/contact/phone-white.png" alt="">
    <p>6642122955</p>
    <img src="/logIn/footer/icons/contact/email-white.png" alt="">
    <p>0315108515@miutt.edu.mx</p>
</div>