{{#if user}}

  <!-- ////////////HEADER DE NAVEGACION CLIENTE ////////////////////-->
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/SYS/index">
            <img src="/header/logo2.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/SYS/index">Dashboard<span class="sr-only"></span></a>
                </li> 
                {{!-- Reportes --}}
                  <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">Reportes</a>
                        <div class="dropdown-content">
                            <a href="/reportes/viajes">Viajes</a>
                            <a href="/reportes/unidades">Unidades</a>
                            <a href="/reportes/cajas">Cajas</a>
                            <a href="/reportes/choferes">Choferes</a>
                        </div>
                    </div>
                </li>  
                {{!-- Finanzas --}}
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">Finanzas</a>
                        <div class="dropdown-content">
                            <a href="/finanzas/genfactura">Generar Factura</a>
                            <a href="/finanzas/remision">Remision</a>
                            <a href="/finanzas/cobranza">Cobranza</a>
                        </div>
                    </div>
                </li> 
                {{!-- Logistica --}}
                 <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">Despacho</a>
                        <div class="dropdown-content">
                            <a href="/despacho/viajes">Viajes</a>
                            <a href="/despacho/crearviajes">Crear Viaje</a>
                        </div>
                    </div>
                </li> 
                {{!-- Catalogo --}}
                     <li class="nav-item">
                    <li class="dropdown">
                        <a class="nav-link">Catálogo</a>
                           <div class="dropdown-content">
                            <a href="/catalogo/conductores">Conductores</a>
                            <a href="/catalogo/verconductores">Ver conductores</a>
                            <a href="/catalogo/unidades">Unidades</a>
                            <a href="/catalogo/verunidades">Ver unidades</a>
                            <a href="/catalogo/cajas">Cajas</a>
                            <a href="/catalogo/mercancias">Mercancías</a>
                            <a href="/catalogo/paises">Países</a>
                            <a href="/catalogo/estados">Estados</a>
                            <a href="/catalogo/ciudades">Ciudades</a>
                            <a href="/catalogo/sedes">Sedes</a>
                            <a href="/catalogo/rutas">Rutas</a>
                            <a href="/catalogo/servicios">Servicios</a>
                            <a href="/catalogo/unidadmedida">Unidad de medida</a>
                        </div>
                    </li>
                </li> 
                {{!-- Inventario --}}
                <li class="nav-item"><a class="nav-link" href="/clientes/almacen">Almacen</a></li> 
                {{!-- Mantenimiento --}}
                <li class="nav-item"><a class="nav-link" href="/clientes/mantenimiento">Mantenimiento</a></li>
                {{!-- Alertas --}}
                <li class="nav-item"><a class="nav-link" href="/clientes/alertas">Alertas</a></li>
                {{!-- Clientes --}}
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">Clientes</a>
                        <div class="dropdown-content">
                            <a href="/SYS/clientes/altaCliente">Alta cliente</a>
                            <a href="/SYS/clientes/verClientes">Clientes</a>
                            <a href="/SYS/clientes/verSolicitudes">Solicitudes</a>
                        </div>
                    </div>
                </li>
                {{!-- Empleados --}}
             <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">Personal</a>
                        <div class="dropdown-content">
                            <a href="/SYS/empleados/altaEmpleados">Alta de personal</a>
                            <a href="/SYS/empleados/verEmpleados">Ver personal</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="/clientes/borradores">Borradores</a></li>
            </ul>
            <div class="dropdown">
                <button class="dropbtn">...</button>
                <div class="dropdown-content">
                    <a href="#">Configuración</a>
                    <a href="#">Mi perfil</a>
                    <a href="/users/logout">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </nav>

{{else}}
    {{#if master}}
        <!-- ////////////HEADER DE NAVEGACION ////////////////////-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/SYS/index">
                <img src="/header/logo2.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/SYS/index">Dashboard<span class="sr-only"></span></a>
                    </li>
                    {{!-- Alertas --}}
                    <li class="nav-item"><a class="nav-link">Alertas</a></li>
                    {{!-- Clientes --}}
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link">Clientes</a>
                            <div class="dropdown-content">
                                <a href="/SYS/clientes/altaCliente">Alta cliente</a>
                                <a href="/SYS/clientes/verClientes">Clientes</a>
                                <a href="/SYS/clientes/verSolicitudes">Solicitudes</a>
                            </div>
                        </div>
                    </li>
                    {{!-- Departamentos --}}
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link">Departamentos</a>
                            <div class="dropdown-content">
                                <a href="#">Alta Departamentos</a>
                                <a href="#">Ver Departamentos</a>
                            </div>
                        </div>
                    </li>
                    {{!-- Empleados --}}
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link">Empleados</a>
                            <div class="dropdown-content">
                                <a href="/SYS/empleados/altaEmpleados">Alta de empleados</a>
                                <a href="#">Ver empleados</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link">Borradores</a></li>
                </ul>
                <div class="dropdown">
                    <button class="dropbtn">...</button>
                    <div class="dropdown-content">
                        <a href="#">Configuración</a>
                        <a href="#">Mi perfil</a>
                        <a href="/users/logout">Cerrar Sesión</a>
                    </div>
                </div>
            </div>
        </nav>
        {{else}}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/header/logo2.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto"></ul>
            </div> 
            <select class="header-lenguage">
                <option value="español">Español</option>
                <option value="ingles">Ingles</option>
                <option value="frances">Frances</option>
                <option value="aleman">Aleman</option>
            </select>
        </nav>
    {{/if}}
{{/if}}