<div class="header-icon">
    <img src="/logIn/sign-in/Microsoft-icon.png">
</div>

 <select class="header-lenguage">
  <option value="español">Español</option>
  <option value="ingles">Ingles</option>
  <option value="frances">Frances</option>
  <option value="aleman">Aleman</option>
</select>