{{!-- {{#if user}}

{{/if}} --}}
{{#if user}}

  <!-- ////////////HEADER DE NAVEGACION CLIENTE ////////////////////-->
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/SYS/index">
            <img src="/header/logo2.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/SYS/index">Dashboard<span class="sr-only"></span></a>
                </li> 
                {{!-- Reportes --}}
                  <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">Reportes</a>
                        <div class="dropdown-content">
                            <a href="#">Viajes</a>
                            <a href="#">Unidades</a>
                            <a href="#">Cajas</a>
                            <a href="#">Choferes</a>
                        </div>
                    </div>
                </li>  
                {{!-- Finanzas --}}
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">Finanzas</a>
                        <div class="dropdown-content">
                            <a href="#">Generar Factura</a>
                            <a href="#">Remision</a>
                            <a href="#">Cobranza</a>
                        </div>
                    </div>
                </li> 
                {{!-- Logistica --}}
                 <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">Despacho</a>
                        <div class="dropdown-content">
                            <a href="#">Viajes</a>
                            <a href="#">Crear Viaje</a>
                        </div>
                    </div>
                </li> 
                {{!-- Catalogo --}}
                     <li class="nav-item">
                    <li class="dropdown">
                        <a class="nav-link">Catálogo</a>
                           <div class="dropdown-content">
                               <a href="/catalogo/conductores">Conductores</a>
                               <a href="/catalogo/verconductores">Ver conductores</a>
                            <a href="/catalogo/unidades">Unidades</a>
                            <a href="/catalogo/verunidades">Ver unidades</a>
                            <a href="#">Cajas</a>
                            <a href="#">Mercancías</a>
                            <a href="#">Países</a>
                            <a href="#">Estados</a>
                            <a href="#">Ciudades</a>
                            <a href="#">Sedes</a>
                            <a href="#">Rutas</a>
                            <a href="#">Servicios</a>
                            <a href="#">Unidad de medida</a>
                        </div>
                    </li>
                </li> 
                {{!-- Inventario --}}
                <li class="nav-item"><a class="nav-link">Almacen</a></li> 
                {{!-- Mantenimiento --}}
                <li class="nav-item"><a class="nav-link">Mantenimiento</a></li>
                {{!-- Mantenimiento --}}
                <li class="nav-item"><a class="nav-link">Mantenimiento</a></li>
                {{!-- Alertas --}}
                <li class="nav-item"><a class="nav-link">Alertas</a></li>
                {{!-- Clientes --}}
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">Clientes</a>
                        <div class="dropdown-content">
                            <a href="/SYS/clientes/altaCliente">Alta cliente</a>
                            <a href="/SYS/clientes/verClientes">Clientes</a>
                            <a href="/SYS/clientes/verSolicitudes">Solicitudes</a>
                        </div>
                    </div>
                </li>
                {{!-- Empleados --}}
             <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">Personal</a>
                        <div class="dropdown-content">
                            <a href="/SYS/empleados/altaEmpleados">Alta de personal</a>
                            <a href="#">Ver personal</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link">Borradores</a></li>
            </ul>
            <div class="dropdown">
                <button class="dropbtn">...</button>
                <div class="dropdown-content">
                    <a href="#">Configuración</a>
                    <a href="#">Mi perfil</a>
                    <a href="/users/logout">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </nav> 
{{else}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/header/logo2.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
        </div> 
        <select class="header-lenguage">
            <option value="español">Español</option>
            <option value="ingles">Ingles</option>
            <option value="frances">Frances</option>
            <option value="aleman">Aleman</option>
        </select>
    </nav>
{{/if}}