.grid-total {
    height: 120vh;
}

.grid-total-header {
    grid-row: 1 / 4;
    grid-column: 1 / -1;
}

.grid-total-footer {
    grid-row: 38/ -1;
    grid-column: 1 / -1;
}

.grid-total-sign {
    grid-row: 6/32;
    grid-column: 3/38;
    display: grid;
    grid-template: 1fr / 5fr 10fr;
}


/*FONDO SIGN IN*/

.grid-total-sign-in {
    background-image: url("../images/wallpaper-2.png");
    background-repeat: no-repeat;
    background-size: 115% 100%;
    grid-row: 1/-1;
    grid-column: 1/2;
    display: grid;
    grid-template: 3fr 5fr 2fr 2fr 2fr 2fr 2fr 2fr / 5fr 10fr 5fr;
}

.grid-total-sign h3 {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2vw;
    padding-top: 10%;
}

.grid-total-sign-up {
    background: rgb(187, 193, 196);
    grid-row: 1/2;
    grid-column: 2/-1;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 3fr 1fr 1fr 3fr 1fr 3fr 1fr;
}

.password-box {
    grid-column: 2/3;
    grid-row: 5/6;
}

.user-box {
    grid-column: 2/3;
    grid-row: 4/5;
}

.button-enter {
    grid-column: 2/3;
    grid-row: 7/8;
}

.button-enter button {
    width: 100%;
    border-radius: 100px;
}


/*ICONO DE CUENTA SIGN IN*/

.image-account {
    background-image: url("../images/user-logo.png");
    grid-column: 2/3;
    grid-row: 2/3;
    background-repeat: no-repeat;
    background-size: 60% 80%;
    position: relative;
    left: 20%;
}


/* CONTAINER SIGN UP */

.grid-total-sign-up h1 {
    color: black;
    grid-column: 2/10;
    grid-row: 1/2;
    text-align: center;
    font-size: 2.5vw;
}

.grid-total-sign-up h3 {
    color: black;
    text-align: left;
    font-size: 1.5vw;
}

.empresa {
    grid-column: 2/3;
    grid-row: 2/3;
}

.representante {
    padding-top: 15px;
    color: black;
    grid-column: 2/3;
    grid-row: 4/5;
}

.contacto {
    padding-top: 15px;
    color: black;
    grid-column: 2/3;
    grid-row: 6/7;
}

.namecompany-box-sup {
    grid-column: 2/4;
    grid-row: 3/4;
}

.tradename-box-sup {
    grid-column: 5/9;
    grid-row: 3/4;
}

.name-box-sup {
    grid-column: 2/4;
    grid-row: 5/6;
}

.lstname-box-sup {
    grid-column: 5/7;
    grid-row: 5/6;
}

.lstscndname-box-sup {
    grid-column: 8/9;
    grid-row: 5/6;
}

.phone-box-sup {
    grid-column: 2/4;
    grid-row: 7/8;
}

.cellphone-box-sup {
    grid-column: 5/9;
    grid-row: 7/8;
}

.mail-box-sup {
    grid-column: 2/4;
    grid-row: 8/9;
}

.arrova {
    grid-column: 6/7;
    grid-row: 8/9;
}

.arrova h3 {
    color: black;
    font-size: 2vw;
    text-align: center;
}

.typemail-box-sup {
    grid-column: 7/10;
    grid-row: 8/9;
}

.button-register {
    padding-top: 10px;
    grid-column: 3/8;
    grid-row: 9/10;
}

.button-register button {
    width: 90%;
    height: 75%;
    font-size: 1.4vw;
    border-radius: 100px;
}

.form-control {
    font-size: .8vw;
}