<link rel="stylesheet" href="/internal/Clientes/Ver_clientes/css/ver_clientes.css">
 <div class="table">
                <div class="table-responsive-xl">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">IDe</th>
                                <th scope="col">IDa</th>
                                <th scope="col">Nombre completo</th>
                                <th scope="col">Tipo de ID</th>
                                <th scope="col">Tipo de licencia</th>
                                <th scope="col">Tipo de pasaporte</th>
                                <th scope="col">Tipo de visa</th>
                                
                                
                            </tr>
                        </thead>
                        <tbody class="table-active">
                            <tr onclick="input" data-toggle="modal" data-target="#exampleModalCenter">
                                <th scope="row">1</th>
                                <td>MIT</td>
                                <td>Jesus Alberto Crespo Camacho</td>
                                <td>INE</td>
                                <td>A</td>
                                <td>No se</td>
                                <td>No se</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>