<link rel="stylesheet" href="/internal/Clientes/Ver_clientes/css/ver_clientes.css">
<div class="table">
                <div class="table-responsive-xl">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                        <th scope="col">Nombre económico</th>
                                        <th scope="col">Marca</th>
                                        <th scope="col">Modelo</th>
                                        <th scope="col">Tipo de unidad</th>
                                        <th scope="col">Tipo de</th>
                                        <th scope="col">Fecha de contrato</th>
                                        <th scope="col">Tipo de visa</th>
                                        <th scope="col">No. de serie</th>
                                <th scope="col">Placas mexicanas</th>
                                <th scope="col">Placas americanas</th>
                            </tr>
                        </thead>
                        <tbody class="table-active">
                            <tr onclick="input" data-toggle="modal" data-target="#exampleModalCenter">
                                <th scope="row">1</th>
                                <td>MIT</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>