/*
====================================================================================
                            CONTENEDORES PRINCIPALES                               
====================================================================================
*/

.grid-total {
    height: 110vh;
    align-content: center;
    align-items: center;
    align-self: center;
    background-image: url("/solicitudes/images/wallpaper-4.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-total-header {
    grid-row: 1 / 3;
    grid-column: 1 / -1;
}

.grid-total-footer {
    grid-row: 36/ -1;
    grid-column: 1 / -1;
}

.header {
    grid-row: 1/2;
    grid-column: 1/-1;
}

.title-cliente {
    grid-row: 7/6;
    grid-column: 18/25;
    font-size: 3vw;
    color: rgb(54, 54, 54);
}




/* //////////////////////////////DASHBOARD///////////// */

.title-welcome {
    color: white;
    grid-row: 10/20;
    grid-column: 16/30;
    font-size: 5vw;
}


/* ///////////////////////////TABLA//////////////////////////////////////// */

.table {
    text-align: center;
    grid-row: 1/30;
    grid-column: 4/38;
    font-size: 1.5vw;
}

thead {
    font-size: 1.5vw;
}

thead th {
    background-color: rgb(185, 185, 185);
    border-color: transparent;
}

tbody {
    font-size: 1vw;
}

tbody tr:hover {
    background: rgb(99, 99, 99);
    color: #ffffff;
    cursor: pointer;
}


/* ///////////////////////////////////MODAL /////////////////////////////////////////// */


/* //////MODAL HEADER/////// */

.menu-header {
    padding-right: 20px;
}

.modal-title {
    font-size: 1.5vw;
}

.btn-exit {
    position: relative;
    background-color: transparent;
    border-style: none;
    left: 10px;
}


/* ///////////////MODAL FOOTER///////////// */

.modal-footer button {
    font-size: 1vw;
}

.modal-footer button i {
    padding-left: 10px;
}

.bd-example-modal-lg .modal-footer .btn-primary {
    padding-left: 0px;
}

.modal-footer button .fa-envelope {
    padding-left: 0px;
}

.modal-footer .btn-danger {
    position: absolute;
    left: 20px;
}


/* ///////////MODAL BODY////////////// */

.modal-body1 {
    height: 70vh;
    display: grid;
    grid-template: repeat(20, 1fr)/repeat(50, 2fr);
}

.tittle-empresa {
    padding-top: 10px;
    color: black;
    grid-row: 1/2;
    grid-column: 2/5;
    font-size: 1.5vw;
}

.company-box {
    grid-row: 2/3;
    grid-column: 2/25;
}

.trade-box {
    grid-row: 2/3;
    grid-column: 26/50;
}

.tittle-representante {
    grid-row: 4/5;
    grid-column: 2/5;
    font-size: 1.5vw;
}

.name-box {
    grid-row: 5/6;
    grid-column: 2/25;
}

.Lname-box {
    grid-row: 5/6;
    grid-column: 26/36;
}

.Lscndname-box {
    grid-row: 5/6;
    grid-column: 37/50;
}

.title-contacto {
    grid-row: 7/8;
    grid-column: 2/5;
    font-size: 1.5vw;
}

.phone-box {
    grid-row: 8/9;
    grid-column: 2/25;
}

.cellphone-box {
    grid-row: 8/9;
    grid-column: 26/50;
}

.mail-box {
    grid-row: 10/11;
    grid-column: 2/25;
}

.title-cuenta {
    grid-row: 12/13;
    grid-column: 2/5;
    font-size: 1.5vw;
}

.user {
    padding-top: 0px;
    grid-column: 2/25;
    grid-row: 14/15;
}

.password {
    padding-top: 0px;
    grid-column: 26/50;
    grid-row: 16/17;
}

.confirm-password {
    padding-top: 0px;
    grid-column: 2/25;
    grid-row: 16/17;
}

.answer {
    padding-top: 0px;
    grid-column: 26/50;
    grid-row: 18/19;
}

.form-group {
    padding-top: 0px;
    grid-column: 2/25;
    grid-row: 18/19;
}

.form-group .form-control {
    font-size: .8vw;
}


/* /////////////////MODAL PASO 2////////////////// */

.bd-example-modal-lg2 .form-control {
    padding-top: 1px;
    font-size: 1vw;
    height: 85%;
}

.datos-mex {
    grid-row: 1/2;
    grid-column: 15/18;
    font-size: 1.2vw;
    text-align: center;
}

.datos-us {
    grid-row: 9/10;
    grid-column: 15/18;
    font-size: 1.2vw;
    text-align: center;
}

.modal-body2 {
    height: 70vh;
    width: auto;
    display: grid;
    grid-template: repeat(15, 1fr)/repeat(50, 1fr);
}

.mexican-flag {
    background-image: url("/solicitudes/images/mexflag.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    grid-row: 2/3;
    grid-column: 5/9;
}

.usa-flag {
    background-image: url("/solicitudes/images/usaflag.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    grid-row: 9/10;
    grid-column: 5/9;
}

.folio-fac {
    grid-row: 4/5;
    grid-column: 5/13;
}

.folio-cp {
    grid-row: 5/6;
    grid-column: 5/13;
}

.nom-empresa {
    grid-row: 2/3;
    grid-column: 15/30;
}

.title-direccion {
    grid-row: 1/2;
    grid-column: 34/38;
    padding-top: 20px;
    font-size: 1.2vw;
}

.cp {
    grid-row: 6/7;
    grid-column: 31/50;
}

.tel {
    grid-row: 7/8;
    grid-column: 31/50;
}

.rfc {
    grid-row: 7/6;
    grid-column: 31/50;
}

.dir-fiscal {
    grid-row: 2/3;
    grid-column: 31/50;
}

.rs {
    grid-row: 3/4;
    grid-column: 31/50;
}

.estado {
    grid-row: 4/5;
    grid-column: 31/50;
}

.ciudad {
    grid-row: 5/6;
    grid-column: 31/50;
}

.colonia {
    grid-row: 3/4;
    grid-column: 15/30;
}

.calle {
    grid-row: 4/5;
    grid-column: 15/30;
}

.no-exterior {
    grid-row: 5/6;
    grid-column: 15/30;
}

.no-interior {
    grid-row: 6/7;
    grid-column: 15/30;
}

.entre-calles {
    grid-row: 7/8;
    grid-column: 15/30;
}

.nom-empresaus {
    grid-row: 10/11;
    grid-column: 15/30;
}

.razon-socialus {
    padding-left: 30px;
    grid-row: 11/12;
    grid-column: 3/20;
}

.title-direccionus {
    grid-row: 9/10;
    grid-column: 30/38;
    padding-top: 20px;
    font-size: 1.2vw;
}

.rfcus {
    padding-top: 10px;
    padding-left: 30px;
    grid-row: 12/13;
    grid-column: 3/20;
}

.cp-us {
    grid-row: 10/11;
    grid-column: 31/50;
}

.tax-id {
    grid-row: 11/12;
    grid-column: 31/50;
}

.folio-cpus {
    grid-row: 11/12;
    grid-column: 5/13;
}

.tel-us {
    grid-row: 12/13;
    grid-column: 31/50;
}

.coloniaus {
    grid-row: 11/12;
    grid-column: 15/30;
}

.calleus {
    grid-row: 12/13;
    grid-column: 15/30;
}

.no-exteriorus {
    grid-row: 13/14;
    grid-column: 15/30;
}

.no-interiorus {
    grid-row: 14/15;
    grid-column: 15/30;
}

.entre-callesus {
    grid-row: 15/16;
    grid-column: 15/30;
}

.bd-example-modal-lg2 .modal-footer .btn-primary {
    padding-left: 0px;
}


/* /////////////////MODAL PASO 3////////////////// */

.bd-example-modal-lg3 .form-control {
    font-size: 1vw;
}

.modal-body3 {
    height: 50vh;
    display: grid;
    grid-template: repeat(10, 1fr)/repeat(50, 2fr);
}

.title-demo {
    color: black;
    padding-top: 20px;
    padding-left: 20px;
    grid-row: 1/2;
    grid-column: 1/5;
    font-size: 1.5vw;
}

.title-otros {
    color: black;
    padding-top: 20px;
    padding-left: 20px;
    grid-row: 1/2;
    grid-column: 20/25;
    font-size: 1.5vw;
}

.privilegios {
    grid-column: 5/12;
    grid-row: 2/9;
}

.privilegios2 {
    grid-column: 28/35;
    grid-row: 2/9;
}

.privilegios3 {
    grid-column: 40/50;
    grid-row: 2/9;
}

.form-check-label {
    font-size: 1vw;
}

.bd-example-modal-lg3 .modal-footer .btn-primary {
    padding-left: 0px;
    text-align: center;
}