<link rel="stylesheet" href="/logIn/css/sign.css">

<div class="grid-total-sign">
    {{!-- Grid container sign in --}}
    <div class="grid-total-sign-in">
        <div class="image-logo"></div>
        <div class="image-account"></div>
        <h3>Sign In</h3>
        <div class="user-box"><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User"></div>
        <div class="password-box"><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Password"></div>
        <div class="button-enter"><button type="button" class="btn btn-warning">Log In</button></div>
    </div>

    {{!-- Grid container sign up --}}
    <form class="grid-total-sign-up" action="/users/signin" method="POST">
        <h1>Solicita tu demo GRATIS!</h1>
        <h3>Empresa</h3>
        <div class="namecompany-box-sup"><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Company Name*" name="empresaName"></div>
        <div class="tradename-box-sup"><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Trade Name*" name="empresaTradeName"></div>
        <div class="representante"><h3>Representante</h3></div>
        <div class="name-box-sup"><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name*" name="representanteName"></div>
        <div class="lstname-box-sup"><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name*" name="representanteApPaterno"></div>
        <div class="lstscndname-box-sup"><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Second Name" name="representanteApMaterno"></div>
        <div class="contacto"><h3>Contacto</h3></div>
        <div class="phone-box-sup"><input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone Number*" name="contactoNumberFijo"></div>
        <div class="cellphone-box-sup"><input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cellphone Number" name="contactoCelular"></div>
        <div class="mail-box-sup"><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mail*" name="contactoCorreo"></div>
        <div class="button-register"><button type="submit" class="btn btn-warning">Enviar solicitud</button></div>
    </form>
</div>